# {{project_name}}

{{description}}


## Quick Start with uv (Recommended)

[uv](https://docs.astral.sh/uv/) is the recommended tool for managing this project.

### Installation

```shell
uv sync --group dev
```

### Running the Project

```shell
uv run python -m {{project_package}}
```

### Running Tests

```shell
uv run pytest
```

### Building

```shell
uv build
```

### Running tox

```shell
uv run tox
```


## Alternative: pip/setuptools

For those who prefer traditional Python tooling.

### Installation

Create a virtual environment and install the package:

```shell
python -m venv .venv
source .venv/bin/activate  # or .venv\Scripts\activate on Windows
pip install -e ".[dev]"
```

### Building

```shell
python -m build
```

After building, you can install the wheel:

```shell
pip install dist/{{project_package}}-0.0.1-py3-none-any.whl
```

### Running Tests

```shell
pytest
```

*Note:* If you install the package from a wheel, the tests will run against the
installed package; install in editable mode (i.e., using the `-e` option) to
test against the development package.

### Running tox

To test against multiple Python versions:

```shell
tox
```
